# Ignore PocketMine-MP and PHPStorm files
/.idea
/server
/phpstorm.meta.php
/server.yml

# Ignore build and runtime files
/build
/plugins
/data

# Ignore system files
.DS_Store
Thumbs.db

# Ignore PHPStorm and other IDE files
/.phpstorm.meta.php
/.phpstorm.stubs
